<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{email}},</p>
        <p>In order to verify your email</p>
        <p> Please, Use enter this code</p>
        <h3> {{password}}</h3>
    </body>
</html>