<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{email}},</p>
        <p>The status of the url with the name of {{urlName}} has changed </p>
    </body>
</html>